[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
chardet = "*"
charset_normalizer = "*"
flake8 = "*"
black = "*"
isort = "*"
django-phonenumber-field = { extras = ["phonenumbers"]}
requests = "*"
pillow = "*"
pyparsing = "*"
pydot = "*"
django-extensions = "*"
djangorestframework = "*"
python-decouple = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
